h1.root
{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
}
li
{
	list-style-type: none;
	padding: 5px 0;
	background-repeat: no-repeat;
	width: 150px;
}
ol 
{
	margin-left: 0;
	padding-left: 0;
}
ol ol
{
	margin-top: 1em;
	margin-left: 1.5em;
}
ol.horizontal li
{
	display: inline;
	float: left;
	padding-right: 10px;
}
ol.vertical li
{
	float: left;
	clear: left;
}
#ia-doc ol
{
	margin: 0;
	padding: 0;
}
.page
{
	background-image: url('imgs/page.png');
	line-height: 80px;
	padding: 0 0 0 0px
}
.file
{
	background-image: url('imgs/file.png');
	line-height: 80px;
	padding: 0 0 0 0px;
}
.page-stack
{
	background-image: url('imgs/stackedPages.png');
	line-height: 70px;
	padding: 0 0 0 0px; 
}
.file-stack
{
	background-image: url('imgs/stackedFiles.png');
	line-height: 60px;
	padding: 0 0 0 0px;
}
.continuation
{

}
