h1.root
{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid black;
}
li
{
	list-style: none;
	padding: 5px 0px;
}
#ia-doc ol
{
	margin: 0px;
	padding: 0px;
}
li.page
{
	background-image: url('imgs/page.png');
	background-repeat: no-repeat;
	line-height: 80px;
	padding: 0 0 0 120px
}
li.file
{
	background-image: url('imgs/file.png');
	background-repeat: no-repeat;
	line-height: 80px;
	padding: 0 0 0 80px;
}
li.page-stack
{
	background-image: url('imgs/stackedPages.png');
	background-repeat: no-repeat;
	line-height: 70px;
	padding: 0 0 0 120px; 
}
li.file-stack
{
	background-image: url('imgs/stackedFiles.png');
	background-repeat: no-repeat;
	line-height: 60px;
	padding: 0 0 0 80px;
}
li.continuation
{

}
