li 
{
	list-style: none;
	padding: 5px 0;
	width: auto;
}
a
{
	background-size: 30px 40px;
	background-repeat: no-repeat;
	background-position: left center;
}
a:link
{
	text-decoration: none;
	color: #000;
}
a:visited { color: #000; }
li a
{
	padding-left: 40px;
	display: inline-block;
	height: 40px;
	vertical-align: middle;
}
li a:hover
{
	background-color: #EDEDED;
}
.file
{
	background-image: url('imgs/file.svg');
	height: 30px;
	line-height: 30px;
}
.page
{
	background-image: url('imgs/page.svg');
	height: 30px;
	line-height: 30px;
}
.file-stack
{
	background-image: url('imgs/file-stack.svg');
	height: 30px;
	line-height: 30px;
}
.page-stack
{
	background-image: url('imgs/page-stack.svg');
	height: 30px;
	line-height: 30px;
}
.continuation
{
	background-image: url('imgs/continue-left.svg'), url('imgs/continue-right.svg');
	background-position: left center, right center;
	height: 30px;
	line-height: 30px;
	width: 140px; /*Need to figure out width on this element*/
}
ol { display: block; }
.conditional
{
	border: 1px dashed #000;
	border-radius: 10px;
}
.area
{
	border: 1px solid #000;
	border-radius: 10px;
}
.collapse
{
	cursor: default;
	font-size: .7em;
	height: .7em;
	line-height: .7em;
<<<<<<< HEAD
}
.collapse:hover { background-color: #EDEDED; }
=======
}
>>>>>>> iadoc/master
