li 
{
	list-style: none;
	padding: 5px 0;
	width: 100%;
}
a:link
{
	text-decoration: none;
	color: #000;
}
a:visited { color: #000; }
li a
{
	width: 100%;
	padding-left: 40px;
	display: block;
	vertical-align: middle;
}
li a:hover
{
	background-color: #F5F2F3;
}
.file
{
	background-image: url('imgs/file.svg');
	background-size: 30px 40px;
	background-repeat: no-repeat;
	background-position: left center;
	height: 30px;
	line-height: 30px;
}
.page
{
	background-image: url('imgs/page.svg');
	background-size: 30px 40px;
	background-repeat: no-repeat;
	background-position: left center;
	height: 30px;
	line-height: 30px;
}
.file-stack
{
	background-image: url('imgs/file-stack.svg');
	background-size: 30px 40px;
	background-repeat: no-repeat;
	background-position: left center;
	height: 30px;
	line-height: 30px;
}
.page-stack
{
	background-image: url('imgs/page-stack.svg');
	background-size: 30px 40px;
	background-repeat: no-repeat;
	background-position: left center;
	height: 30px;
	line-height: 30px;
}
ol { display: block; }