/*
	Title: IA-doc
	Description: A system for creating information architecture docs
		based on Jesse James Garrett's visual vocabulary 
		http://www.jjg.net/ia/visvocab/
	Authors: Matt Buresh, Sam Parsons

*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700);

body {
	font-family: 'Lato', sans-serif;
}

.iadoc li { 
	width: 100%;
	line-height: 30px;
}

.iadoc li.collapsed {
	font-weight: bold;
}

.iadoc ol { 
	display: block; 
	margin-top: 1px; 
	margin-right: 10px;
	list-style: decimal;
}

.iadoc ol ol, .iadoc ul ol {
	list-style: upper-alpha;
}

.iadoc ol ol ol, .iadoc ol ul ol, .iadoc ul ul ol {
	list-style: decimal;
}

.iadoc .file {
	padding-left:;
	background-image: url('imgs/file.svg');
	background-repeat: no-repeat;
	background-size: 30px 40px;
	

}

.iadoc .page:before {
	content: "";
	display: inline-block;
	height: 30px;
	width: 35px;
	background-image: url('imgs/page.svg');
	background-repeat: no-repeat;
	background-size: 30px 40px;
	vertical-align: -20%;
}

.iadoc .file-stack:before {
	content: "";
	display: inline-block;
	height: 35px;
	width: 35px;
	background-image: url('imgs/file-stack.svg');
	background-repeat: no-repeat;
	background-size: 30px 40px;
	vertical-align: -20%;
}

.iadoc .page-stack:before {
	content: "";
	display: inline-block;
	height: 30px;
	width: 35px;
	background-image: url('imgs/page-stack.svg');
	background-repeat: no-repeat;
	background-size: 30px 40px;
	vertical-align: -20%;
}

/*.iadoc .continuation:before {
	content: "[";
	display: inline-block;
	height: 30px;
	width: 35px;
	background-image: url(' dimgs/continue-left.svg');
	background-repeat: no-repeat;
	background-size: 30px 40px;
	vertical-align: -20%;
}

.iadoc .continuation:after {
	content: "]";
	display: inline-block;
	height: 30px;
	width: 35px;
	margin-left: 25px;
	background-image: url('dimgs/continue-right.svg');
	background-repeat: no-repeat;
	background-size: 30px 40px;
	vertical-align: -20%;
}*/

.iadoc .conditional-area,
.iadoc .area,
.iadoc .iterative-area {
	border-radius: 10px;
	padding: 5px 0 15px 35px; 
	margin: 2px 0 0 40px;	
	border: 1px solid #000;
}

.iadoc .conditional-area {
	border-style: dashed;
}


.iadoc .iterative-area {
	border: 1px double #000;
	border-width: 4px;

}