/*
	Title: IA-doc
	Description: A system for creating information architecture docs
		based on Jesse James Garrett's visual vocabulary 
		http://www.jjg.net/ia/visvocab/
	Authors: Matt Buresh, Sam Parsons

*/

@import url(http://fonts.googleapis.com/css?family=Gudea);

body {
	font-family: 'Gudea', sans-serif;
}

.iadoc li { 
	width: 100%;
}

.iadoc ol { 
	display: block; 
	margin-top: 1px; 
	margin-right: 10px;
	list-style: decimal;
}

.iadoc ol ol, .iadoc ul ol {
	list-style: upper-alpha;
}

.iadoc ol ol ol, .iadoc ol ul ol, .iadoc ul ul ol {
	list-style: decimal;
}

.iadoc .file:before {
	content: "";
	display: inline-block;
	height: 30px;
	width: 35px;
	background-image: url('imgs/file.svg');
	background-repeat: no-repeat;
	background-size: 30px 40px;
	vertical-align: -20%;
}

.iadoc .page:before {
	content: "";
	display: inline-block;
	height: 30px;
	width: 35px;
	background-image: url('imgs/page.svg');
	background-repeat: no-repeat;
	background-size: 30px 40px;
	vertical-align: -20%;
}

.iadoc .file-stack:before {
	content: "";
	display: inline-block;
	height: 35px;
	width: 35px;
	background-image: url('imgs/file-stack.svg');
	background-repeat: no-repeat;
	background-size: 30px 40px;
	vertical-align: -20%;
}

.iadoc .page-stack:before {
	content: "";
	display: inline-block;
	height: 30px;
	width: 35px;
	background-image: url('imgs/page-stack.svg');
	background-repeat: no-repeat;
	background-size: 30px 40px;
	vertical-align: -20%;
}

.iadoc .continuation:before {
	content: "";
	display: inline-block;
	height: 30px;
	width: 35px;
	background-image: url('imgs/continue-left.svg');
	background-repeat: no-repeat;
	background-size: 30px 40px;
	vertical-align: -20%;
}

.iadoc .continuation:after {
	content: "";
	display: inline-block;
	height: 30px;
	width: 35px;
	margin-left: 25px;
	background-image: url('imgs/continue-right.svg');
	background-repeat: no-repeat;
	background-size: 30px 40px;
	vertical-align: -20%;
}

.iadoc .conditional-area {
	border-radius: 20px;
	border: 1px dashed #000;
	padding: 0 0 7px 5px;
	margin: 2px 0 0 40px;
}

.iadoc .area {	
	border-radius: 20px;
	border: 1px solid #000;
	padding: 0 0 7px 5px;
	margin: 2px 0 0 40px;
}

.iadoc .iterative-area {
	border-radius: 20px;
	border: 1px double #000;
	border-width: 3px;
	padding: 0 0 7px 5px; 
	margin: 2px 0 0 40px;

}