/*
	Title: IA-doc
	Description: A system for creating information architecture docs
		based on Jesse James Garrett's visual vocabulary 
		http://www.jjg.net/ia/visvocab/
	Authors: Matt Buresh, Sam Parsons

*/

@import url(http://fonts.googleapis.com/css?family=Gudea);

body {
	font-family: 'Gudea', sans-serif;
}

li { list-style: none; padding: 5px 0; }
ol { display: block; margin-top: 1px; margin-right: 10px;}
.collapse:hover { background-color: #EDEDED; }
a:link { text-decoration: none; color: #000; }
a:visited { color: #000; }
a
{
	background-size: 30px 40px;
	background-repeat: no-repeat;
	background-position: left center;
}
li a
{
	padding-left: 40px;
	display: inline-block;
	height: 40px;
	vertical-align: middle;
}
li a:hover { background-color: #EDEDED; }
.file
{
	background-image: url('imgs/file.svg');
	height: 30px;
	line-height: 30px;
}
.page
{
	background-image: url('imgs/page.svg');
	height: 30px;
	line-height: 30px;
}
.file-stack
{
	background-image: url('imgs/file-stack.svg');
	height: 30px;
	line-height: 30px;
}
.page-stack
{
	background-image: url('imgs/page-stack.svg');
	height: 30px;
	line-height: 30px;
}
.continuation
{
	background-image: url('imgs/continue-left.svg'), url('imgs/continue-right.svg');
	background-position: left center, right center;
	height: 30px;
	line-height: 30px;
	padding-right: 60px;
}
.conditional-area
{
	border-radius: 20px;
	border: 1px dashed #000;
	padding: 3px;
	margin-top: 2px;
}
.area
{	
	border-radius: 20px;
	border: 1px solid #000;
	padding: 3px;
	margin-top: 2px;
}
.iterative-area 
{
	border-radius: 20px;
	border: 1px double #000;
	border-width: 3px;
	padding: 3px;
	margin-top: 2px;

}
.collapse
{
	cursor: default;
	font-size: .7em;
	height: .7em;
}
.on { display: list-item; }
.off { display: none; }